<main class="container-fluid w-100" fxLayout="column" fxLayoutAlign="center center">

   <span *ngIf="user" class="p-float-label mt-2 w-75">
    <input readonly class="w-100" id="userName" type="text" pInputText [(ngModel)]="name">
    <label for="userName">Name</label>
</span>

  <span *ngIf="user" class="p-float-label mt-4 w-75">
    <input readonly class="w-100" id="userEmail" type="email" pInputText [(ngModel)]="email">
    <label for="userEmail">Email</label>
</span>


  <span *ngIf="!user" class="p-float-label mt-2 w-75">
    <input required class="w-100" id="name" type="text" pInputText [(ngModel)]="name">
    <label for="name">Name</label>
</span>

  <span *ngIf="!user" class="p-float-label mt-4 w-75">
    <input  required class="w-100" name="email" id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" pInputText [(ngModel)]="email" #emailRef="ngModel"
            (keyup)="emailValid = (!emailRef.errors?.pattern && !emailRef.errors?.required)" >
    <label for="email">Email</label>
</span>

  <span class="p-float-label mt-4 w-75">
    <input readonly class="w-100" id="perkCode" type="text" pInputText [(ngModel)]="perkCode">
    <label for="perkCode">Perk Code</label>
</span>

  <span class="p-float-label mt-4 w-75">
    <input readonly class="w-100" id="selltokenUrl" type="text" pInputText [(ngModel)]="selltokenUrl">
    <label for="selltokenUrl">selltoken URL</label>
</span>

  <span class="p-float-label mt-4 ">
    <textarea id="text" rows="5" cols="60" pInputTextarea autoResize="autoResize" [(ngModel)]="message"></textarea>
    <label for="text">Message for selltoken Owner</label>
</span>
  <p-button *ngIf="true" [disabled]="!name || !emailValid || !message" class="p-button-lg mt-4" (onClick)="sendInfo()" label="Send"></p-button>

</main>
