.desc-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.p-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.head {
  color: #4b4e53;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 33px;
  letter-spacing: normal;
}

.content {
  font-size: 14px;
  line-height: 25px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #7e8082;
}
