.image {
  img {
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 360px;

    object-fit: cover;
    border-radius: 5px;
  }
}

.date-text {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 600;
  size: 16px;
  line-height: 21px;
  color: #616161;
}

.bitcoinlink {
  color: rgb(126, 128, 130);
  text-decoration: none;
}


.title-text {
  color: #353535;
  margin-top: -8px;
  margin-bottom: 13px;
  font-weight: 700;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.donation-progressbar {
  background: #E2E2E2;
  border-radius: 6px;
  height: 10px;
  position: relative;
}

.donation-progressbar-active {
  background: #5DCC1A;
  border-radius: 6px;
  height: 10px;
  position: absolute;
  // width: 50%;
}

.donation-button {
  border-radius: 5px !important;
  font-weight: bold !important;
}

.dark-text {
  color: #000000;
}

.gray-text {
  color: #3f3f3f;
}

.selltoken-info {
  font-weight: 400;
  font-size: 18px;
}

.donation-container {
  height: 100%;
  // background: linear-gradient(90deg, white 50%, #FAFAFA 50%);
}

@media (max-width: 956px) {
  .donation-container {
    height: 100%;
    background: white;
  }
}


:host ::ng-deep .p-scrollpanel-bar {
  opacity: 1;
}

.no-margin-bottom {
  margin-bottom: 0!important;
}

.avatar {
  min-height: 60px;
  max-height: 60px;
  max-width: 60px;
  min-width: 60px;
  border-radius: 50%;
  margin: 0 10px ;
}

.selltoken-owner {

  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.icon {
  color: #2e89ff !important;
  transition: all 0.3s ease 0s;
}

.icon:hover {
  color: #005ccf !important;
}

.description, .description img {
  width: 100%;
}

.desc-icon {
  width: 21px;
  height: auto;
  margin-right: 2px;
}


.user-image {
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50% !important;
  display: block;
  object-fit: cover;

}
