<main class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="w-100 mt-5" fxLayout="column" fxLayoutAlign="center start">
    <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column">
      <div fxLayout="column">
        <label for="title">{{'create-assets.assets-name' | translate}}</label>
        <h6 class="dark-text"> {{assets.name}} </h6>
      </div>
    </div>

    <label for="symbol">{{'Token Symbol' | translate}}</label>
    <h6 class="dark-text"> {{assets.symbol}} </h6>

    <label for="initialSupply">{{'Initial supply' | translate}}</label>
    <h6 class="dark-text"> {{assets.initialSupply}} </h6>

    <label for="decimals">{{'Token decimals (optional)' | translate}}</label>
    <h6 class="dark-text"> {{assets.decimals}} </h6>


    <label for="shortDescription">{{'Token description (optional)' | translate}}</label>
    <h6 class="dark-text"> {{assets.description}} </h6>

    <label for="emoji">{{'Token emoji (optional)' | translate}}</label>
    <h6 class="dark-text"> {{assets.emoji}} </h6>

    <!---<label for="avatar"> {{'create-assets.assets-avatar' | translate}}</label> -->
    <label for="symbol"><a class="bitcoinlink" href="https://bico.media/" target="_blank"> {{'Token icon transactionId &nbsp;&nbsp;' | translate}}<svg viewBox="64 64 896 896" focusable="false" data-icon="question-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7a48.3 48.3 0 0130.9-44.8c59-22.7 97.1-74.7 97.1-132.5.1-39.3-17.1-76-48.3-103.3zM472 732a40 40 0 1080 0 40 40 0 10-80 0z"></path></svg> </a></label>
    <div class="image-hover-zoom clickable">
      <!--<img class="user-image " [src]="assets.avatar ? assets.avatar : 'assets/account.png'" > -->
      <img class="user-image " [src]="'https://bico.media/' + assets.avatar" >

    </div>

    <label for="protocol"> <b><p> {{'create-assets.assets-protocol' | translate}} </p></b></label>
    <div>
      <input type="radio" id="protocol" name="protocol" value="male" checked>
      <b><label class="ml-1" for="male">Run@0.1</label></b><br>
    </div>

  </div>
  <div class="mt-5" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
      <button
        pButton
        class="p-button-outlined"
        label="{{'selltokens.create-selltoken.create-preview-selltoken.back' | translate}}"
        (click)="prevStep()"></button>
    </div>

    <div>
      <button
        pButton
        class="p-button"
        label="Create"
        (click)="nextStep()"></button>
    </div>
  </div>


</main>
