.owner-title {
  font-weight: 700;
  font-size: 24px;
  color: #302f2f;
}

.name-title {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #242424;
}
