<main class="how-it-works-text">
  <section class="pt-2">
    <h2 class="text-center main-heading dark-heading-color mt-5">
      Cum functioneaza</h2>
  </section>

  <br>
  <div class="div-steps">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="dark-heading-color text-center"><b>
        Cum puteți utiliza GoBitFundMe?</b></h3>


      <div style="max-width: 920px;" class="w-100 pt-4">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayoutAlign.xs="center start" fxLayoutGap.xs="30px">
          <div fxLayout="column" fxLayoutAlign="space-around start">
            <h4 class="light-dark-heading-color"><b>Creați-vă campania</b></h4>
            <ul class="step-list">
              <li>
                Spune-ți povestea</li>
              <li>Adăugați o imagine sau un videoclip</li>
              <li>
                Stabiliți-vă obiectivul de crowdfunding</li>
            </ul>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-around start">
            <h4 class="light-dark-heading-color"><b>
              Partajați-vă campania cu lumea</b></h4>
            <ul class="step-list">
              <li>
                Trimite emailuri</li>
              <li>
                Trimite mesaje text</li>
              <li>Distribuiți pe social media și câștigați monede</li>
            </ul>
          </div>
        </div>
      </div>



      <h3 class="dark-heading-color text-center pt-3"><b>or</b></h3>
      <!--    <h4 class="dark-heading-color text-center"><b>or</b></h4>-->
      <div class="pt-3" fxLayout="row" fxLayoutAlign="center center" style="max-width: 920px">
        <div fxLayout="column" fxLayoutAlign="space-around start">
          <h4 class="light-dark-heading-color"><b>
            Obțineți recompensă dacă partajați legăturile cu prietenii.</b></h4><br>
          <ul class="step-list">
            <li>
              Vă creăm portofelul și oricând vă puteți retrage monedele pe un alt portofel.</li><br>
            <li>
              Deveniți un influencer, partajați câte linkuri doriți și câștigați monede pentru fiecare contribuție.</li><br>
            <li>
              De fiecare dată când se face o contribuție dintr-unul din linkurile dvs., veți fi recompensați cu 20% din taxa noastră de servicii.</li><br>
            <!--li>At any time, when your KYC profile is complete, you can sell your coins to GoBitFundMe for EUR for a 10% service fee.</li-->
          </ul>
        </div>
      </div>

    <h3 class="dark-heading-color text-center pt-3"><b>or</b></h3>
    <div class="pt-3" fxLayout="row" fxLayoutAlign="center center" style="max-width: 920px">
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <h4 class="light-dark-heading-color"><b>
          Faceți publicitate companiei, produselor sau serviciilor dvs. oferind avantaje</b></h4><br>
        <ul class="step-list">
          <li>Oferiți un avantaj, de exemplu, o reducere pentru unul dintre produsele sau serviciile dvs.</li><br>
          <li>
            Veți primi un e-mail de la utilizator care dorește să valorifice codul de avantaj și să revendice avantajul.</li><br>
          <!--li>At any time, when your KYC profile is complete, you can sell your coins to GoBitFundMe for EUR for a 10% service fee.</li-->
        </ul>
      </div>
    </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
        <p-button label="
        Începe un GoBitFundMe" styleClass="p-button-lg" (onClick)="startGoBitFundMe()"></p-button>
      </div>
    </div>

  </div>

  <div class="container mb-5" fxLayout="row" fxLayoutAlign="center center">
    <div class="w-100 pt-5">
      <h4 class="dark-heading-color section-heading"><b>Crowdfunding helps people to unite around the ideas that matter to them, and together make those ideas come to life.</b></h4>
      <br/>
      <ul class="step-list">
        <li>Using blockchain technology, GoBitFundMe provides unparalleled transparency and audit capabilities.</li>
        <li>Whether you're searching for the latest in technology or blockchain, supporting your favorite independent inventor, or helping an important cause,
          you can find something that inspires you on GoBitFundMe.</li>
      </ul>
      <p class="dark-text-section">
    </div>

    <ng-lottie fxHide.lt-md class="w-100" [options]="peopleAnim"></ng-lottie>
  </div>

  <div style="background-color: #FFDCA7">
    <div class="container pt-5 pb-5" fxLayout="row" fxLayoutAlign="center center">
      <ng-lottie fxHide.lt-md class="w-100" [options]="ideaAnim"></ng-lottie>
      <div class="w-100">
        <h4 class="dark-heading-color section-heading"><b>Crowdfunding generates exciting opportunities for contributors and entrepreneurs alike.</b></h4>
        <br/>
        <ul class="step-list">
          <li>Supporting a crowdfunding idea on a platform like GoBitFundMe means you are helping a work-in-progress project,
            idea or cause.</li>
          <li>We let our community dream big, so we don't have criteria for what kind of project can become an GoBitFundMe selltoken,
            other than what's outlined in our
            <a class="clickable" href="/terms" target="_blank" style="text-decoration: none; color: #666666">Terms and Conditions.</a></li>
          <li>It is important to understand that backing a selltoken and claiming a perk are not the same as buying an item online.  </li>
        </ul>
      </div>
    </div>

  </div>

  <div style="background-color: #4CABA8">
    <div class="container pt-5 pb-5" fxLayout="row" fxLayoutAlign="center center">
      <div class="w-100">
        <h4 class="white-text-color section-heading">GoBitFundMe uses Bitcoin Satoshi Vision which is the only major public blockchain project that is scalable
          and offers nano-payments capabilities.</h4>
        <br/>
        <ul class="step-list">
          <li class="white-text-color">selltokens and users are earning coins in Bitcoin Satoshi Vision satoshis.</li>
          <li class="white-text-color">Every time someone contributes using <b>your shared link,</b>
            GoBitFundMe <b>shares 20 percent</b> of the service fee with the link owner.</li>
          <li class="white-text-color">1 Coin = 1 Satoshi Bitcoin Satoshi Vision.</li>
        </ul>
      </div>
      <ng-lottie fxHide.lt-md class="w-100" [options]="securityAnim"></ng-lottie>
    </div>
  </div>
</main>
