<div class="container p-25">
  <!-- fxLayout="column" fxLayoutAlign="center center">
    <h4 class="text-center">
      Would you like to auction token?
    </h4>
    <div>
    <div fxLayout="column" fxLayoutAlign="left left">
      <div>
      <p-radioButton inputId="auction_choose" name="auction" value="1" [(ngModel)]="selltoken.tokenType"></p-radioButton>
      <label for="auction_choose">Yes, I would like to action token</label>
      </div>
      <div>
      <p-radioButton inputId="normal_choose"  name="auction" value="0" [(ngModel)]="selltoken.tokenType"></p-radioButton>
      <label for="normal_choose">No , Not need at all</label>
      </div>
    </div>
  </div> -->
  
  
  <div  fxLayout="column" fxLayoutAlign="center center">
    <h5 class="dark-text mt-5">
      <b> Auction End Date </b>
    </h5>

    <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column">
      <div fxLayout="column">
        <!--<label for="auctionEndTime">{{'create-selltoken.start-date' | translate}}</label>-->
        <p-calendar
          id="auctionEndTime"
          [showTime]="true" 
          [(ngModel)]="selltoken.auctionEndTime"
          [minDate]="todayDate"
          [showIcon]="true"
          inputId="selltokenFrom"
          [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
          class="w-100"></p-calendar>
      </div>
    </div>
  </div>
  <div  class="mt-3 text-center" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
      <button
        pButton
        class="p-button-outlined"
        label="{{'selltokens.create-selltoken.create-preview-selltoken.back' | translate}}"
        (click)="prevStep()"></button>
    </div>

    <div>
      <button
        pButton
        [disabled] = "((selltoken.tokenType == 1 ) && !(selltoken.auctionEndTime))"
        class="p-button-outlined"
        label="Next"
        (click)="nextStep()"></button>
    </div>
</div>
