.user-image {
    max-height: 100px;
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% !important;
    display: block;
  }

  
  a {
    color: #a9c6fc;
  }