.footer-section {
  padding-top: 100px;
  width: 100%;
}

.copyright {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #7e8082;
}

.icon {
  color: #4b4e53!important;
  transition: all 0.3s ease 0s;
}

.icon:hover {
  color: #94949b !important;
}
