<div
  class="p-25">
  <div fxLayout="row" fxLayoutAlign="center center" class="container">
    <div class="w-100" fxLayout="column" fxLayoutGap="10px">

      <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="space-between center">

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.xs="20px">
        <div fxLayout="column" class="w-100">
          <div class="mt-3 mt-sm-0">
            <app-selltoken-table [isFavoritesFilterActivated]="heart"></app-selltoken-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






