<main class="container" fxLayout="column" fxLayoutAlign="center center">
    
    <div class="mt-5" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
     
      <button
        pButton
        class="p-button"
        label="{{'mint' | translate}}"
        (click)="mint()"></button>
    
        <button
          pButton
          class="p-button-outlined"
          label="{{'selltokens.create-selltoken.create-preview-selltoken.back' | translate}}"
          (click)="backStep()"></button>

    </div>
  </main>
  