.div-header {
  background-color: #fbf8f6;
  padding: 7% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.div-content {
  padding: 3% 0;
  font-size: 17px;
  line-height: 28px;
  color: #55555a;
}

.reference {
  text-decoration: none;
  color: #2a37ee;
}

a {
  color: #2a37ee;
  text-decoration: none;
}
