.div-header {
  background-color: #fbf8f6;
  padding: 4% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.div-video {
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.div-steps {
  background-color: #fbf8f6;
  padding: 3% 0;


}

.light-dark-heading-color {
  color: #666666;
}

.dark-heading-color {
  color: #333333;
}

.dark-text-section {
  color: #666666;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.white-text-color {
  color: #fafafa;
}

.white-text-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.main-heading {
  font-weight: 700;
  font-size: clamp(36px, 1.875vw, 44px);
}

.section-heading {
  font-weight: 700;
  font-size: clamp(24px, 1.250vw, 30px);
}

.number-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 20px;

  background: #fff;
  border: 2px solid #EE2A7B;
  color: #EE2A7B;
  text-align: center;
  margin-bottom: 10px;

}

.step-list {
  margin: 0;
  padding-left: 18px;
}

.div-about {
  padding: 2% 0;
  text-align: center;

}

.div-refference {
  background-color: #fbf8f6;
  padding: 3% 0;
  text-align: center;
}

.how-it-works-text {
  font-size: clamp(16px, 0.833vw, 21px);
}
