<main class="how-it-works-text">
  <section class="pt-2">
    <h2 class="text-center main-heading dark-heading-color mt-5">Wie es funktioniert</h2>
  </section>

<br>
<div class="div-steps">
  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="dark-heading-color text-center"><b>Wie können Sie GoBitFundMe verwenden?</b></h3>


    <div style="max-width: 920px;" class="w-100 pt-4">
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayoutAlign.xs="center start" fxLayoutGap.xs="30px">
        <div fxLayout="column" fxLayoutAlign="space-around start">
          <h4 class="light-dark-heading-color"><b>Erstellen Sie Ihre Kampagne</b></h4>
          <ul class="step-list">
            <li>Erzähl deine Geschichte</li>
            <li>Fügen Sie ein Bild oder Video hinzu</li>
            <li>Setzen Sie sich ein Crowdfunding-Ziel</li>
          </ul>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around start">
          <h4 class="light-dark-heading-color"><b>
            Teilen Sie Ihre Kampagne mit der Welt</b></h4>
          <ul class="step-list">
            <li>
              E-Mails senden</li>
            <li>
              Sende Textnachrichten</li>
            <li>
              In sozialen Medien teilen und Münzen verdienen</li>
          </ul>
        </div>
      </div>
    </div>



    <h3 class="dark-heading-color text-center pt-3"><b>or</b></h3>
<!--    <h4 class="dark-heading-color text-center"><b>or</b></h4>-->
    <div class="pt-3" fxLayout="row" fxLayoutAlign="center center" style="max-width: 920px">
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <h4 class="light-dark-heading-color"><b>
          Lassen Sie sich belohnen, wenn Sie Ihre Links mit Ihren Freunden teilen.</b></h4><br>
        <ul class="step-list">
          <li>Wir erstellen Ihre Brieftasche für Sie und Sie können Ihre Münzen jederzeit in eine andere Brieftasche abheben.</li><br>
          <li>Werden Sie Influencer, teilen Sie so viele Links, wie Sie möchten, und verdienen Sie Münzen für jeden Beitrag.</li><br>
          <li>Jedes Mal, wenn ein Beitrag von einem Ihrer Links geleistet wird, erhalten Sie 20% unserer Servicegebühr.</li><br>
          <!--li>Wenn Ihr KYC-Profil vollständig ist, können Sie Ihre Münzen jederzeit für EUR gegen eine Servicegebühr von 10% an GoBitFundMe verkaufen.</li-->
        </ul>
      </div>
    </div>

    <h3 class="dark-heading-color text-center pt-3"><b>or</b></h3>
    <div class="pt-3" fxLayout="row" fxLayoutAlign="center center" style="max-width: 920px">
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <h4 class="light-dark-heading-color"><b>
          Bewerben Sie Ihr Unternehmen, Ihre Produkte oder Dienstleistungen, indem Sie Vergünstigungen anbieten</b></h4><br>
        <ul class="step-list">
          <li>
            Bieten Sie einen Vorteil, zum Beispiel einen Rabatt für eines Ihrer Produkte oder Dienstleistungen.</li><br>
          <li>Sie erhalten eine E-Mail von dem Benutzer, der den Bonuscode einlösen und den Bonus beanspruchen möchte.</li><br>
          <!--li>At any time, when your KYC profile is complete, you can sell your coins to GoBitFundMe for EUR for a 10% service fee.</li-->
        </ul>
      </div>
    </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
          <p-button label="
          Starten Sie ein GoBitFundMe" styleClass="p-button-lg" (onClick)="startGoBitFundMe()"></p-button>
        </div>
  </div>

</div>

  <div class="container mb-5" fxLayout="row" fxLayoutAlign="center center">
    <div class="w-100 pt-5">
      <h4 class="dark-heading-color section-heading"><b>
        Micro-Crowdfunding hilft Menschen, sich um die für sie wichtigen Ideen zu vereinen und diese Ideen gemeinsam zum Leben zu erwecken.</b></h4>
      <br/>
      <ul class="step-list">
        <li>
          Mithilfe der Blockchain-Technologie bietet GoBitFundMe beispiellose Transparenz- und Überwachungsfunktionen.</li>
        <li>Egal, ob Sie nach der neuesten Technologie oder Blockchain suchen, Ihren bevorzugten unabhängigen Erfinder unterstützen oder einer wichtigen Sache helfen, auf GoBitFundMe finden Sie etwas, das Sie inspiriert.</li>
      </ul>
      <p class="dark-text-section">
    </div>

    <ng-lottie fxHide.lt-md class="w-100" [options]="peopleAnim"></ng-lottie>
  </div>

  <div style="background-color: #FFDCA7">
    <div class="container pt-5 pb-5" fxLayout="row" fxLayoutAlign="center center">
      <ng-lottie fxHide.lt-md class="w-100" [options]="ideaAnim"></ng-lottie>
      <div class="w-100">
        <h4 class="dark-heading-color section-heading"><b>Micro-Crowdfunding bietet sowohl für Mitwirkende als auch für Unternehmer aufregende Möglichkeiten.</b></h4>
        <br/>
        <ul class="step-list">
          <li>Wenn Sie eine Crowdfunding-Idee auf einer Plattform wie GoBitFundMe unterstützen, helfen Sie einem in Arbeit befindlichen Projekt, einer Idee oder einem Anliegen.</li>
          <li>
            Wir lassen unsere Community groß träumen, daher haben wir keine Kriterien dafür, welche Art von Projekt zu einer GoBitFundMe-Kampagne werden kann, außer den in unserer
            <a class="clickable" href="/terms/ch" target="_blank" style="text-decoration: none; color: #666666">Geschäftsbedingungen.</a></li>
          <li>
            Es ist wichtig zu verstehen, dass die Unterstützung einer Kampagne und die Inanspruchnahme eines Vorteils nicht mit dem Online-Kauf eines Artikels identisch sind.  </li>
        </ul>
      </div>
    </div>

  </div>

  <div style="background-color: #4CABA8">
    <div class="container pt-5 pb-5" fxLayout="row" fxLayoutAlign="center center">
      <div class="w-100">
        <h4 class="white-text-color section-heading">GoBitFundMe verwendet Bitcoin Satoshi Vision, das einzige große öffentliche Blockchain-Projekt, das skalierbar ist und Nano-Zahlungsfunktionen bietet.</h4>
        <br/>
        <ul class="step-list">
          <li class="white-text-color">Kampagnen und Benutzer verdienen Münzen in Bitcoin Satoshi Vision Satoshis.</li>
          <li class="white-text-color">
            Jedes Mal, wenn jemand dazu beiträgt <b>
              Ihr gemeinsamer Link,</b>
            GoBitFundMe teilt <b>20 Prozent der Servicegebühr mit dem Linkbesitzer</b>.</li>
          <li class="white-text-color">1 Coin = 1 Satoshi Bitcoin Satoshi Vision.</li>
        </ul>
      </div>
      <ng-lottie fxHide.lt-md class="w-100" [options]="securityAnim"></ng-lottie>
    </div>
  </div>
</main>
